<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

#In case of errors
ErrorDocument 404 /tierralatina/index.php
ErrorDocument 413 /tierralatina/index.php
ErrorDocument 414 /tierralatina/index.php

# redirection avec parametres :
RewriteRule ^([a-zA-Z0-9-]+)-([a-zA-Z0-9-]+)   /tierralatina/index.php?controler=$1&action=$2 [L]


</IfModule>