#onglets
{
        position : absolute;
        border : 1px solid transparent;
        padding : 0;
        font : bold 11px Batang, arial, serif;
        list-style-type : none;
        left : 50%;
        margin-top : 0;
        width : 50%;
	margin-left : -215px; /* la moitié de width */

}
#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px;  /* Pour les navigateurs autre que IE */
  /*  margin : 1px 2px 0 2px; */ /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.panier
{
    position : relative;
    left : 50%;

    
background-image:linear-gradient(#40E080,#90F080);

}

#onglets li.de
{
    position : relative;
     left : 50%;
    
background-image:linear-gradient(#D07080,#F0B080);
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}



#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}
#onglets a:hover
{
    background : #fff;
}

#menu
{
        border-bottom : 1px solid #9EA0A1;
        padding-bottom : 25px;

background-image:linear-gradient(lightblue, blue);
/*background-color: lightblue;*/

}


a.img{
text-align: center;
text-decoration : none;

}

h1,h2{
font-family: monospace;
color: #6495ed;
text-align: center;
}

h1.attention{
color: red;

}

b.value{
font-family: monospace;
color: #6495ed;
text-align: center;

}

b.type{
font-family: monospace;
color: #666;;
text-align: center;

}


table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;

}


div{
text-align : center;
text-decoration : none;
}

div.img{

display : block;
color : #666;
border : 1px solid #9EA0A1;
width: 10%;
margin-left:auto; 
margin-right:auto;
background-image:linear-gradient(#40E080,#90F080);
}


table.img{
border-spacing: 0; 
border-collapse: collapse ; 
border: none;


}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }

th {
font-family: monospace;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
background-color:#EFF6FF;

}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}


td.img{
border: none;

}


caption {
font-family: sans-serif;
}

